
/* ---------------------------------
.BookmarkItem
--------------------------------- */

.BookmarkItem {
  $root: '.BookmarkItem';
  width: 300px;
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: $margin;
  background-color: white;
  > * {
    padding: ($padding / 2) $padding;
    border-bottom: 1px solid $flat-gray-1;
  }
  &LinkWrapper {
    // @include highlight;
    @include truncate(100%);
    display: block;
    // padding: $padding * 2 $padding;
    // padding: 30px $padding $padding / 2;
    padding: 30px $padding 30px;
    text-decoration: none;
    #{$root}Header {
      #{$root}Heading {
        @include smallHeading;
        margin-bottom: $margin / 2;
      }
    }
    #{$root}Content {
      color: $flat-blue-1;
      font-size: $title;
    }
  }
  #{$root}Body {
    position: relative;
    padding-right: 0;
    &Heading { @include smallHeading }
    #{$root}TagContainerCurtain {
      position: absolute;
      height: 100%;
      width: 40px;
      top: 0;
      right: 0;
      background:
        linear-gradient(
          to right,
          $transparent,
          rgba(white, .9) 15%
        )
      ;
      z-index: 1;

      &.BookmarkItemTagContainerCurtain--left {
        right: auto;
        left: 0;
        background:
          linear-gradient(
            to left,
            $transparent,
            rgba(white, .9) 15%
          )
        ;
      }

      a {
        @extend %resetAnchors;
        display: block;
        height: 100%;
        .material-icons {
          @extend a;
          color: $flat-gray-4;
          font-size: 32px;
          padding: 42% 0;
          transition: transform .2s;

          &:hover { transform: scale(1.33); }
        }
      }
    }
    #{$root}TagContainer {
      @include box(($padding / 2) 0, 0, true);
      @include flex(row nowrap, flex-start, center);
      overflow-x: hidden;
      &::-webkit-scrollbar {}
      &::-webkit-scrollbar-button {}
      &::-webkit-scrollbar-track {}
      &::-webkit-scrollbar-track-piece {}
      &::-webkit-scrollbar-thumb {}
      &::-webkit-scrollbar-corner {}
      &::-webkit-resizer {}
      > *:not(:last-child) { margin-right: $margin / 2; }
      .PillButton { margin-bottom: 0; }
    }
  }
  #{$root}Footer {
    @include flex(row nowrap, space-evenly, center);
    padding: ($padding / 2) $padding;
    // padding: $padding / 2 0;
    // > * { padding: ($padding / 2) $padding; }
    #{$root}TimeStamp {
      flex-grow: 1;
      padding-right: 0;
      time {
        font-size: $xSmall;
        color: $flat-gray-2;
      }
    }
    #{$root}Controls {
      &Heading { @include smallHeading }
      &Container {
        @include box(0, 0, true);
        @include flex(row nowrap, space-evenly, center);
        #{$root}ControlsItem {
          a {
            display: block;
            padding: $padding / 4;
            border-radius: $radius / 2;
            border: 2px solid $transparent;
            font-family: $titleFont;
            font-size: $small - 2;
            color: $flat-gray-2;
            text-transform: uppercase;
            text-decoration: none;
            &:hover { background-color: $flat-gray-1; }
          }
          &__edit { margin-right: $margin / 2; }
          &__delete {
            a:hover {
              border: 2px solid $error;
              color: $error;
              background-color: $transparent;
            }
          }
        }
      }
    }
  }
}
