/* ========================
colors.scss
======================== */

@import "~flat-ui-colors-sass/_flat-colors";

$accent: $flat-blue-1;
$backgroundMain: $flat-gray-1;
$backgroundDark: null;
$backgroundLight: rgba($backgroundMain, 0.4);
$darkGray: #444;
$error: rgba($flat-red-1, 0.8);
$font: lighten(black, 0.2);
$fontAlt: #444;
$fontLight: $flat-gray-4;
$paleYellow: #fffae1e7;
$strokeLight: $backgroundMain;
$success: $flat-green-1;
$transparent: rgba(255, 255, 255, 0);
$hover: mix($accent, black, 60%);
