
/* ========================
colors.scss
======================== */


@import '~flat-ui-colors-sass/_flat-colors';


$accent: $flat-blue-1;
$background_main: $flat-gray-1;
$font: lighten(black, .20);
$fontAlt: #444;
$fontLight: $flat-gray-4;
