
/* ========================
typography.scss
======================== */

// font definitions (tmp)
// TODO
// - convert remote > local
// - reduce to 2 (max 3) font families
// - create shorthand font declaration

@import url('https://fonts.googleapis.com/css?family=Archivo:400,700|Fira+Sans:400,700|Montserrat:400,700|Muli:400,700|Niramit:400,700|Noto+Sans:400,700|Nunito:400,700|PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Work+Sans:400,500,600');

$archivo: 'Archivo', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$niramit: 'Niramit', sans-serif; // no title
$ptSans: 'PT Sans', sans-serif; // no title
$notoSans: 'Noto Sans', sans-serif;
$muli: 'Muli', sans-serif;
$nunito: 'Nunito', sans-serif; // no title
$firaSans: 'Fira Sans', sans-serif; // no title
$plexSans: 'IBM Plex Sans', sans-serif;
$workSans: 'Work Sans', sans-serif;


// typography vars
$fontPrimary: null;
$fontSecondary: null;
$bodyFont: $firaSans;
$titleFont: $archivo;
$body: 16px;
$small: $body * 0.9;
$xSmall: $small - 2;
$title: $body * 1.2;


// templates
@mixin smallHeading {
	font-family: $titleFont;
  font-weight: 700;
  font-size: $xSmall;
  color: $flat-gray-4;
  text-transform: uppercase;
  margin: 0 0 $margin / 3;
}
