
/* ========================
vars.scss
======================== */


$padding: 20px;
$border: null;
$radius: 4px;
$margin: 20px;
$outline: null;
$shadow: 0 2px 20px rgba(black, .1);
$spacer: 20px;
$gutter: $spacer;
