/* ========================
.BookmarkForm
======================== */

.BookmarkForm {
  @include flex(row nowrap, space-between, flex-start);

  .inputGroup {
    flex-grow: 1;
    margin-right: $margin;
    border: 1px solid rgba($flat-gray-4, 0.2);
    border-radius: $radius;
  }

  .submitButton {
  }

  /*
    media
  */
  @media screen and (max-width: $SM) {
    @include flex(column nowrap, space-between, center);

    .inputGroup,
    .submitButton {
      width: 300px;
      margin: 0 auto;
    }

    .inputGroup {
      flex-grow: initial;
      margin-bottom: $margin;
    }

    .submitButton {
    }
  }
}
