/* ========================
main.scss
======================== */

/* ---------------------------------
imports
--------------------------------- */

@import "~normalize.css/normalize.css";
@import "./_partials/_logic";
@import "./_partials/_vars";
@import "./_partials/_colors";
@import "./_partials/_typography";
@import "./_partials/_animations";
@import "./_partials/_fx";

/* ---------------------------------
common
--------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  // font-family: $workSans;
  font-family: $firaSans;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: $flat-gray-1;
}

// a, a:hover, a:visited { color: rgba(0,0,0,.8); }

/* ---------------------------------
containers
--------------------------------- */

#root {
  > *:not(:last-child) {
    margin-bottom: $margin * 2;
  }
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  @include container($XL);
  padding: 0 $padding;

  @media screen and (max-width: $SM) {
    padding: 0 10px;
  }
}

.mainContentWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-column-gap: $gutter;
  justify-content: center;
  flex-grow: 1;

  @media screen and (max-width: $SM) {
    grid-template-columns: initial;
    grid-row-gap: 20px;
    padding: 0 10px;
  }
}

.inputSection {
  width: 100%;
  padding: ($padding * 2) 0;
  margin-top: 56px;
  // TODO
  // find a way to avoid
  // using React's root ID
  // box-shadow: $innerShadow;
  background-color: rgba($flat-gray-2, 0.2);
}

.tagSection {
  .tagListContainer {
    .tagSectionHeading {
      @include smallHeading;
      margin-bottom: $margin;
    }

    .tagList {
      @include box(0, $margin 0 0, true);
    }
  }

  @media screen and (max-width: $SM) {
    margin-bottom: $margin;

    .tagList {
      @include flex(row wrap, flex-start, center);
      width: 300px;
    }
  }
}

.bookmarkSection {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, 300px);
  .bookmarkContainer {
    .bookmarkSectionHeading {
      @include smallHeading;
      margin-bottom: $margin;
      // font-family: $titleFont;
      // font-weight: 700;
      // font-size: $small;
      // color: $flat-gray-4;
      // text-transform: uppercase;
    }
    .bookmarkList {
      @include box(0, 0, true);
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 20px;

      @media screen and (max-width: $SM) {
        grid-template-columns: initial;
        justify-content: center;
      }

      // >li:not(.blankSlateMessage) {
      //   transition-property: all;
      //   transition-duration: 300ms;
      //   transition-delay: 300ms;
      //   transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      //   // transition-timing-function: ease;
      //   visibility: hidden;
      //   opacity: 0;
      //   transform: translateY(-500%);
      //   &.visible {
      //     transform: translateY(0);
      //     visibility: visible;
      //     opacity: 1;
      //   }
      // }

      .blankSlateMessage {
      }

      .BookmarkItemContainer {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.01) translateY(-10px);
        }
      }
    }
  }
}

/* ---------------------------------
components
--------------------------------- */

@import "./components/Navbar";
@import "./components/InputField";
@import "./components/BookmarkForm";
@import "./components/BaseButton";
@import "./components/PillButton";
@import "./components/BookmarkItem";
@import "./components/TagItem";
@import "./components/Footer";
@import "../components/Spinner/Spinner.scss";
@import "../components/NotificationMessage/NotificationMessage.scss";
@import "../components/Modal/Modal.scss";
@import "../components/SearchWidget/SearchWidget.scss";
