
/* ========================
main.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_partials/_logic';


/* ---------------------------------
common
--------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  // font-family:
  //   'Arial',
  //   'Roboto Regular',
  //   sans-serif;
  font-family: $firaSans;
  font-weight: 400;
  font-size: 16px;
}

body { background-color: $flat-gray-1; }

a, a:hover, a:visited { color: rgba(0,0,0,.8); }


/* ---------------------------------
layout
--------------------------------- */

.wrapper {
  @include container(960px);
  > * { padding: $padding; }
}

.content {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-column-gap: $gutter;
  justify-content: center;
  padding-top: $padding * 2;
}


/* ---------------------------------
inputSection
--------------------------------- */

.inputSection {
  width: 100%;
  padding: $padding;
  .BookmarkForm {
    @include flex(row nowrap, space-between, center);
    .inputGroup {
      flex-grow: 1;
      .InputField {
        label { display: none; }
        .urlInput,
        .tagInput {
          width: 100%;
          padding: 10px;
          border: none;
          font-size: $title;
          /*
            background-color: transparent;
            border-bottom: 1px solid #bdbdbd;
            margin-bottom: 20px;
          */
        }
      }
    }
    .submitButton {
      padding: $padding $padding * 2;
    }
  }
}

/* ---------------------------------
tagSection
--------------------------------- */

.tagSection {
  // grid-row: 1 / -1;
  .tagListContainer {
    .tagSectionHeading {
      @include smallHeading;
      margin-bottom: $margin;
    }
    .tagList {}
  }
}


/* ---------------------------------
.bookmarkSection
--------------------------------- */

.bookmarkSection {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, 300px);
  .bookmarkContainer {
    .bookmarkSectionHeading {
      @include smallHeading;
      margin-bottom: $margin;
      // font-family: $titleFont;
      // font-weight: 700;
      // font-size: $small;
      // color: $flat-gray-4;
      // text-transform: uppercase;
    }
    .bookmarkList {
      @include box(0, 0, true);
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 20px;
      .blankSlateMessage {}
    }
  }
}


/* ---------------------------------
.BookmarkItem
--------------------------------- */

.BookmarkItem {
  $root: '.BookmarkItem';
  width: 300px;
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: $margin;
  background-color: white;
  > * {
    padding: ($padding / 2) $padding;
    border-bottom: 1px solid $flat-gray-1;
  }
  &LinkWrapper {
    // @include highlight;
    @include truncate(100%);
    display: block;
    padding: $padding * 2 $padding;
    text-decoration: none;
    #{$root}Header {
      #{$root}Heading {
        @include smallHeading;
      }
    }
    #{$root}Content {
      color: $flat-blue-1;
      font-size: $title;
    }
  }
  #{$root}Body {
    &Heading { @include smallHeading }
    #{$root}TagContainer {
      @include box(($padding / 2) 0, 0, true);
      @include flex(row wrap, flex-start, center);
      > *:not(:last-child) { margin-right: $margin / 2; }
    }
  }
  #{$root}Footer {
    @include flex(row nowrap, space-evenly, center);
    padding: 0;
    > * { padding: ($padding / 2) $padding; }
    #{$root}TimeStamp {
      flex-grow: 1;
      time {
        font-size: $xSmall;
        color: $flat-gray-2;
      }
    }
    #{$root}Controls {
      &Heading { @include smallHeading }
      &Container {
        @include box(0, 0, true);
        @include flex(row nowrap, space-evenly, center);
        #{$root}ControlsItem {
          a {
            display: block;
            font-family: $titleFont;
            font-size: $small - 2;
            color: $flat-gray-2;
            text-transform: uppercase;
            text-decoration: none;
          }
          &__edit { margin-right: $margin / 2; }
          &__delete {}
        }
      }
    }
  }
}


/* ---------------------------------
.PillButton
--------------------------------- */

.PillButton {
  display: inline-block;
  padding: 6px $padding;
  border: $border;
  border-radius: $radius * 5;
  border-color: $flat-blue-1;
  margin-bottom: $margin / 2;
  font-size: $small;
  color: $flat-blue-1;
  // @media (max-width: 768px) { margin-bottom: $margin / 2; }
}


/* ---------------------------------
.TagItem
--------------------------------- */

.TagItem {}






































