
/* ========================
main.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_partials/_logic';


// common

*,
*::before,
*::after {
  box-sizing: border-box;
  // font-family:
  //   'Arial',
  //   'Roboto Regular',
  //   sans-serif;
  font-family: $firaSans;
  font-weight: 400;
  font-size: 16px;
}

body { background-color: $flat-gray-1; }

a, a:hover, a:visited { color: rgba(0,0,0,.8); }

.wrapper { @include container(960px); }

.inputSection,
.inputSection .BookmarkForm
 { width: 100%; }

 .inputSection .BookmarkForm input { width: 45%; }

// .tagSection { width: 20%; }

// .bookmarkSection { width: 80%; }

.content {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-auto-rows: 20px;
  grid-gap: $gutter;
  justify-content: center;
}

//
.bookmarkSection {
  .bookmarkSectionHeading {
    font-family: $titleFont;
    font-weight: 700;
    font-size: $small;
    color: $flat-gray-4;
    text-transform: uppercase;
  }
  .bookmarkContainer {
    .bookmarkList {
      @include box(0, 0, true);
      .BookmarkItem {
        $root: '.BookmarkItem';
        border-radius: $radius;
        box-shadow: $shadow;
        margin-bottom: $margin;
        background-color: white;
        > * {
          padding: ($padding / 2) $padding;
          border-bottom: 1px solid $flat-gray-1;
        }
        &LinkWrapper {
          // @include highlight;
          display: block;
          padding: ($padding * 1.4) $padding;
          text-decoration: none;
          #{$root}Header {
            &Heading {
              margin: 0;
              color: $flat-blue-1;
            }
          }
        }
        #{$root}Body {
          &Heading { @include smallHeading }
          #{$root}TagContainer {
            @include box(0, 0, true);
            @include flex(row nowrap, flex-start, center);
            > *:not(:last-child) { margin-right: $margin / 2; }
          }
        }
        #{$root}Controls {
          &Heading { @include smallHeading }
          &Container {
            @include box(0, 0, true);
            @include flex(row nowrap, space-evenly, center);
            #{$root}ControlsItem {
              text-decoration: none;
              &__edit {}
              &__delete {}
            }
          }
        }
        #{$root}Footer {
          font-size: $small;
          color: $flat-gray-2;
          font-weight: bolder;
        }
      }
    }
  }
}











































