
/* ========================
main.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_partials/_logic';


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:
    'Arial',
    'Roboto Regular',
    sans-serif;
  font-size: 15px;
}

body { background-color: #444; }

a, a:hover, a:visited { color: rgba(0,0,0,.8); }

.tagSection,
.bookmarkSection {
  padding: 0;
  margin: 0;
  float: left;
}

.inputSection,
.inputSection .BookmarkForm
 { width: 100%; }

 .inputSection .BookmarkForm input { width: 45%; }

.tagSection { width: 20%; }

.bookmarkSection { width: 80%; }

//

.BookmarkItem {
	width: 320px;
	height: 400px;
	background-color: white;
}
















































