/* ---------------------------------
Layout
--------------------------------- */

.Layout {
  @extend %setLayout;

  > main[class$="Content"] {
    flex-grow: 1;
    margin-top: $navbarHeight;
    padding: $padding;
  }
}
