/* ---------------------------------
InfoMessage
--------------------------------- */

.InfoMessage {
  &Content {
    $iconSize: 20px;
    display: flex;
    align-items: center;
    padding: 10px $iconSize;
    border-radius: $radius;
    font-size: 14px;
    line-height: 22px;
    color: $fontAlt;

    i.material-icons {
      margin-right: $iconSize;
      font-size: $iconSize;
      vertical-align: middle;
      margin-top: -4px;
    }
  }

  &.InfoMessage--info {
    .InfoMessageContent {
      background-color: $paleYellow;
    }
  }

  &.InfoMessage--warning {
    .InfoMessageContent {
    }
  }

  &.InfoMessage--error {
    .InfoMessageContent {
      background-color: lighten($flat-red-1, 20%);
    }
  }
}
