/* ---------------------------------
.PillButton
--------------------------------- */

.PillButton {
  @extend %resetAnchors;
  display: inline-block;
  min-width: 99px;
  padding: 4px 8px;
  border: $border;
  border-radius: $radius;
  border-color: $flat-blue-1;
  margin-bottom: $margin / 2;
  font-size: $small;
  text-align: center;
  color: $flat-blue-1;
  cursor: pointer;

  &:hover {
    border-color: $hover;
    color: $hover;
    // border-color: darken($flat-blue-1, 20%);
    // color: darken($flat-blue-1, 20%);
  }

  .material-icons {
    font-size: inherit;
    vertical-align: middle;
    margin-left: 6px;
  }

  &--clicked {
    border-color: $flat-blue-4;
    color: $flat-blue-4;
  }

  &--marked {
    border-color: $flat-red-1;
    color: $flat-red-1;
  }
}
