/* ---------------------------------
SearchWidget
--------------------------------- */

.SearchWidget {
  .searchInput {
    width: 100px;
    padding: 2px;
    border: none;
    background-color: $transparent;
    transition: all 0.3s;

    &:active {
    }

    &:focus {
      width: 200px;
      outline: none;
      border-bottom: 2px solid $accent;
    }
  }

  .searchInputClearButton {
    // overrides
    padding: 4px;
    min-width: auto;
    vertical-align: middle;
  }
}
