/* ---------------------------------
.Sidebar
--------------------------------- */

.Sidebar {
  .tagListContainer {
    .tagSectionHeading {
      @include smallHeading;
      margin-bottom: $margin;
    }

    .tagList {
      @include box(0, $margin 0 0, true);
    }
  }

  @media screen and (max-width: $SM) {
    margin-bottom: $margin;

    .tagList {
      @include flex(row wrap, flex-start, center);
      width: 300px;
    }
  }
}
