/* ---------------------------------
.ContentGrid
--------------------------------- */

.ContentGrid {
  .bookmarkSectionHeader {
    @include flex(row wrap, space-between);

    .toggleButton {
      @extend %resetButtons;
      @include smallHeading();

      margin-bottom: 20px;
      cursor: pointer;

      &:hover {
        color: $hover;
      }
    }
  }

  .bookmarkContainer {
    .bookmarkSectionHeading {
      @include smallHeading();
      margin-bottom: $margin;
    }

    .bookmarkList {
      @include box(0, 0, true);
      display: grid;
      grid-template-columns: repeat(auto-fill, 310px);
      grid-gap: 20px;

      @media screen and (max-width: $SM) {
        justify-content: center;
      }

      // >li:not(.blankSlateMessage) {
      //   transition-property: all;
      //   transition-duration: 300ms;
      //   transition-delay: 300ms;
      //   transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      //   // transition-timing-function: ease;
      //   visibility: hidden;
      //   opacity: 0;
      //   transform: translateY(-500%);
      //   &.visible {
      //     transform: translateY(0);
      //     visibility: visible;
      //     opacity: 1;
      //   }
      // }

      .blankSlateMessage {
      }

      .BookmarkCardContainer {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.01) translateY(-10px);
        }
      }
    }
  }
}
