/* ---------------------------------
.TagItem
--------------------------------- */

// TODO move to component!

.TagItem {
  @extend %resetAnchors;
  display: inline-block;
  // padding: ($padding / 4) 0;
  padding: $padding / 4;
  border-radius: $radius;
  // margin-bottom: $margin / 4;
  text-decoration: none;
  transition: all 0.3s ease;

  > * {
    font-size: $small;
    text-transform: uppercase;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    box-shadow: $shadow;
    background-color: rgba(white, 0.4);
    transform: scale(1.05) translateX(10px);
  }

  .TagItemName {
  }

  .TagItemCount {
    margin-left: 3px;
    font-size: 11px;
    color: #999;
    padding: 1px;
    vertical-align: super;
  }

  @media screen and (max-width: $SM) {
    &:hover {
      transform: none;
      transform: scale(1.05);
    }
  }
}
